/* Coolors Exported Palette - https://coolors.co/7c6a0a-aa0019-dfc7aa-080708-3772ff */

/* CSS HEX */
--spanish-bistre: #7c6a0aff;
--ruby-red: #aa0019ff;
--desert-sand: #dfc7aaff;
--rich-black-fogra-39: #080708ff;
--blue-crayola: #3772ffff;

/* CSS HSL */
--spanish-bistre: hsla(51, 85%, 26%, 1);
--ruby-red: hsla(351, 100%, 33%, 1);
--desert-sand: hsla(33, 45%, 77%, 1);
--rich-black-fogra-39: hsla(300, 7%, 3%, 1);
--blue-crayola: hsla(222, 100%, 61%, 1);

/* SCSS HEX */
$spanish-bistre: #7c6a0aff;
$ruby-red: #aa0019ff;
$desert-sand: #dfc7aaff;
$rich-black-fogra-39: #080708ff;
$blue-crayola: #3772ffff;

/* SCSS HSL */
$spanish-bistre: hsla(51, 85%, 26%, 1);
$ruby-red: hsla(351, 100%, 33%, 1);
$desert-sand: hsla(33, 45%, 77%, 1);
$rich-black-fogra-39: hsla(300, 7%, 3%, 1);
$blue-crayola: hsla(222, 100%, 61%, 1);

/* SCSS RGB */
$spanish-bistre: rgba(124, 106, 10, 1);
$ruby-red: rgba(170, 0, 25, 1);
$desert-sand: rgba(223, 199, 170, 1);
$rich-black-fogra-39: rgba(8, 7, 8, 1);
$blue-crayola: rgba(55, 114, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #7c6a0aff, #aa0019ff, #dfc7aaff, #080708ff, #3772ffff);
$gradient-right: linear-gradient(90deg, #7c6a0aff, #aa0019ff, #dfc7aaff, #080708ff, #3772ffff);
$gradient-bottom: linear-gradient(180deg, #7c6a0aff, #aa0019ff, #dfc7aaff, #080708ff, #3772ffff);
$gradient-left: linear-gradient(270deg, #7c6a0aff, #aa0019ff, #dfc7aaff, #080708ff, #3772ffff);
$gradient-top-right: linear-gradient(45deg, #7c6a0aff, #aa0019ff, #dfc7aaff, #080708ff, #3772ffff);
$gradient-bottom-right: linear-gradient(135deg, #7c6a0aff, #aa0019ff, #dfc7aaff, #080708ff, #3772ffff);
$gradient-top-left: linear-gradient(225deg, #7c6a0aff, #aa0019ff, #dfc7aaff, #080708ff, #3772ffff);
$gradient-bottom-left: linear-gradient(315deg, #7c6a0aff, #aa0019ff, #dfc7aaff, #080708ff, #3772ffff);
$gradient-radial: radial-gradient(#7c6a0aff, #aa0019ff, #dfc7aaff, #080708ff, #3772ffff);